html{
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("BCK1.gif") center/cover no-repeat;
}

header{
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("MCb.gif") center/cover no-repeat;
    height: 220px;
}

h1{
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
}

p{
    text-align: center;
    color: #fc7d9d;
}

.content{
    color: #ffffff;
    font-family: Calibri;
}

h2{
    color: #fc7d9d;
}

h3{
    color: #ffffff;
}

ul{
    color: #ffffff;
}

nav{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

nav a{
    background-color: #520707;
    color: #ffffff;
    padding: 10px 100px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    background-color: #fc7d9d;
}

section{
    padding: 40px;
}

footer{
    text-align: center;
    padding: 20px;
}